body{
    color: white;
    font-family: "Hack", monospace;
    font-size: 45px;
    background-color: #202124;
}

.container{
    display: flex;
    gap: 30px;
}

.linha{
    height: 5px;
    width: 100%;
    background-color: #535353;
}

.imagem{
    width: 200px;
    height: 200px;
    background-image: url('f.png');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}

.botao { 
    width: 500px;
    height: 50px;
    padding: 10px;
    background-color: #535353;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 45px;
    text-align: center;
    line-height: 1;
    text-decoration: none;

}

.botao:hover{
    background-color: #3C3C3C;
}

.botao:active{
    background-color: #2B2B2B;
}